#hr {
  color: yellowgreen;
  border: 10px;
  margin: 0;
}

/* 센터 이름 중앙정렬 */
#offcanvasScrollingLabel {
  display: flex;
  align-items: center;
}

#center_name {
  text-align: center;
  text-decoration: solid;
}

#infomain {
  background-color: #fefae0;
}

#info {
  border: 1px solid black;
}

#info div {
  border: 1px solid black;
}

/* 상세페이지 버튼 */
#info10 {
  align-items: center;
}

/* 오프캔버스 사진 부모 크기 */
#info1 {
  width: 365px;
  height: 200px;
  overflow: hidden;
}

/* 오프캔버스 사진 크기 */
#img {
  width: 350px;
  height: 200px;
  /* 이미지  비율 맟주기 */
  /* object-fit: cover; */
}

/* 버튼 중앙 정렬 */
#info10 {
  align-items: center;
}

/* 오프캔버스 사진 부모 크기 */
#info1 {
  width: 365px;
  height: 200px;
  overflow: hidden;
}

/* 오프캔버스 사진 크기 */
#img {
  width: 350px;
  height: 200px;
  /* 이미지  비율 맟주기 */
  /* object-fit: cover; */
}

/* 버튼 중앙 정렬 */
#info10 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn-outline-success {
  padding: 0px;
}
#detail {
  padding: 6px 12px;
  text-decoration: none;
}
#detail:hover {
  color: white;
}
